# Environment files
.env

# Virtual environments
venv/
.venv/

# Python cache
__pycache__/
*.pyc

# Generated pipeline output
output/*
!output/.gitkeep

# OS files
.DS_Store

output/*.wav
output/*.mp3
output/*.json
output/*.srt
assets/
